<html>
<head>  
<link rel="stylesheet" type="text/css" href="yc.css">
<link rel="shortcut icon" href="favicon.ico">
<title>On-Ramp: Apply</title>
</head>

<body bgcolor=#ffffff>
<center>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>


<a href="/"><img src="on-ramp logo.jpg"
  border=0 width=500 height=100></a>
<table width=100% bgcolor=#ffaa33 cellpadding=0><td></td></table>



<br><br><br>
<center><strong> Check back to apply soon. </strong></center>

<br><br><br>
(A written application with the same questions as YC [possibly adding one asking about student loans] and simillar instructions. Teams will be invited to interview either in-person or over Skype. In-person will be preferred, and reimbursed up to $150. For teams that can't afford that, video interviews will be acceptable, and are worth testing -- that's how we'll mostly be interacting with the teams.)

<br><br><br><br>

<table width=100% bgcolor=#3a5b76 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>
<a href="purpose">Purpose</a> | 
<a href="mentors">Mentors</a> | 
<a href="faq">FAQ</a> |
<a href="apply">Apply</a>
<br><br>
</span>
</td></tr></table>
</center>
</body>