<html>
<head>  
<link rel="stylesheet" type="text/css" href="yc.css">
<link rel="shortcut icon" href="favicon.ico">
<title>On-Ramp: Frequently Asked Questions</title>
</head>

<body bgcolor=#ffffff>
<center>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>


<a href="/"><img src="on-ramp logo.jpg"
  border=0 width=500 height=100></a>
<table width=100% bgcolor=#ffaa33 cellpadding=0><td></td></table>

<br><br><br>
<center><strong>Frequently Asked Questions</strong></center>








<br><br><br><br>

<table width=100% bgcolor=#3a5b76 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>
<a href="purpose">Purpose</a> | 
<a href="mentors">Mentors</a> | 
<a href="faq">FAQ</a> |
<a href="apply">Apply</a>
<br><br>
</span>
</td></tr></table>
</center>
</body>