<html>
<head>  
<link rel="stylesheet" type="text/css" href="yc.css">
<link rel="shortcut icon" href="favicon.ico">
<title>On-Ramp: Frequently Asked Questions</title>
</head>

<body bgcolor=#ffffff>
<center>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>


<a href="/"><img src="on-ramp logo.jpg"
  border=0 width=500 height=100></a>
<table width=100% bgcolor=#ffaa33 cellpadding=0><td></td></table>

<br><br><br>
<center><strong>Frequently Asked Questions</strong></center>
<br><br>
<p>
<b>What's the target age for this?</b>
<p>
Ideally college aged, with a year or two leeway on either side. We'll consider grad student teams as well. We're looking for founders that are imaginative and flexible, live cheaply, and get what they want, but are still rough when it comes to experience. 
<p>
<b>What kinds of ideas are you looking for?</b>
<p>
We'll consider anything that we could imagine becoming a very significant company, but we expect most ideas will be for software applications, or have a software component. We're not giving you a lot of money, and most software ideas can start out really cheap. If you're working on something else, say a hardware device, try and illustrate how you think you can make progress with such a limited amount of funding.
<p>
And in the end, we care more about your team than your idea. We're funding groups at a stage where we expect ideas will keep evolving. It's most important to show us why your team is special, and why you're never going to give up. For application advice, <a href="http://www.ycombinator.com/howtoapply/"> read this. </a>
<p>
<b>Does our product need to be launched?</b>
<p>
It's great if you've launched, but it's not necessary. We're trying to help founders at the earliest stage possible. A prototype is encouraged, but even that's not necessary if your team is very compelling.
<p>
And if you've launched but are struggling, still apply. We want to help young teams that are smart and incredibly determined, but are struggling to find traction.
<p>
<b>Will you fund us if we're not technical?</b>
<p>
We'll consider it, but it's very important that the founding team can build what it's going to make. It's too expensive to hire people to build out ideas, and if you're not technical, it's really hard to judge the quality of the work. If you're applying as a non-technical team, make a good case on why that's not a problem, and show how you're closing that gap.
<p>
<b>Can we apply if we've received other grants or funding?</b>
<p>
Yes, that's not a problem. If you've received more than $100,000 though, you're probably past the stage where we can be helpful.
<p>
<b>Can we apply without an idea?</b>
<p>
Sorry, no. YC tried this, and it didn't work well. Ideas can change, but it's important for us to at least see a starting idea as evidence that you can have well-thought ideas.
<p>
<b>Can solo founders apply?</b>
<p>
Yes, but the odds of being accepted are lower. We're ideally looking for teams of two or three.
<p>
<b>Can we apply for Y Combinator as well as On-Ramp?</b>
<p>
Yes, but the application cycles aren't at the same time.
<p>
<b>If I'm not accepted for On-Ramp will it hurt my chances for getting into Y Combinator?</b>
<p>
Nope. We only share info with YC on teams accepted to On-Ramp; YC won't know you applied.
<p>
<b>Will you sign an NDA? How do we know you won't steal our idea?</b>
<p>
No, just like almost all experienced entrepreneurs and investors, we won't sign NDAs. Here's a good post by Chris Dixon on <ahref="cdixon.org/2009/08/.../why-you-shouldnt-keep-your-startup-idea-secret/"> why that's the case, and how to think about ideas.</a>
<p>
<b>Do we have to apply to Y Combinator?</b>
<p>
Unless there's some really strong reason why you don't want to, yes. On-Ramp is designed to help good young founders prepare for YC, and then keep growing from there. If you don't have an interest in doing YC, you probably shouldn't apply to On-Ramp.
<p>
<b> Will we be able to access the YC alumni network as part of On-Ramp?</b>
<p>    
To an extent. If you have specific questions for a specific alumnus and he or she is willing to help, we'll get you in touch. The YC community has a strong spirit of helping other founders, so we hope you'll be able to get help like this more often than not. That said, On-Ramp is still separate from YC; in the long run, we hope On-Ramp will have its own support network of helpful alumni.
<p>
<b>Will you help us incorporate?</b> <i>## will this work? tax issues?</i>
<p>
Yes, once it's helpful. Most likely though, you can get started without being incorporated -- worrying about a company structure can be a distraction when you're just getting started on figuring out your product. 
<p>
If it is helpful though--say, a customer requires it to do business with you, or you're raising additional funding--we'll help you incorporate right away. We'll use <a href="https://www.clerky.com/">Clerky</a>, a YC company, to get this done.
<p>
<b>If I'm in college, do I need to drop out to do this?</b>
<p>
We want you to work on your startup full-time. On-Ramp is designed to take riskier bets on young founders, but that doesn't meant the founders can't be serious. The funding is designed to last for three months, but if things go well you're going to be doing this for many eyars. If you do On-Ramp, be prepared to at least take a semester off.
<p>

<br><br><br><br>

<table width=100% bgcolor=#3a5b76 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>
<a href="purpose">Purpose</a> | 
<a href="mentors">Mentors</a> | 
<a href="faq">FAQ</a> |
<a href="apply">Apply</a>
<br><br>
</span>
</td></tr></table>
</center>
</body>