<html>
<head>  
<link rel="stylesheet" type="text/css" href="yc.css">
<link rel="shortcut icon" href="favicon.ico">
<title>On-Ramp</title>
</head>

<body bgcolor=#ffffff>
<center>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>


<a href="/"><img src="on-ramp logo.jpg"
  border=0 width=500 height=100></a>
<table width=100% bgcolor=#ffaa33 cellpadding=0><td></td></table>

<div style="position: relative; width: 500px; height: 350px;">
    <img id="On-ramp-graph.jpg" height="350" width="500" src="On-ramp graph beginning.jpg" style="position: absolute; top: 0px; left: 0px;" />
</div>


<table width=100% cellpadding=6 cellspacing=0>
<tr><td bgcolor=#DDDDFF> 
<table width=100% cellpadding=0 cellspacing=0>
<tr><td bgcolor=#ddddff>
<center>
<strong>A new '<a href="http://old.ycombinator.com/sfp.html">Summer Founders Program</a>'</strong>
</center>
</td></tr></table>
</td></tr></table> 


<p style="margin-top: 15px">
On-Ramp is a startup that creates more startups. We mentor young, promising founders and invest a very small amount of money ($12k) in their ideas. The goal is to prepare them for Y Combinator -- the best teams will be fast-tracked for interviews. Teams don't have to move to the Bay Area to participate.
<p>

<a href="atyc.html">Learn more</a>
<p style="margin-top: 30px">
<table width=100% bgcolor=#3a5b76 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>
<a href="purpose">Purpose</a> | 
<a href="mentors">Mentors</a> | 
<a href="faq">FAQ</a> |
<a href="apply">Apply</a>
<br><br>
</span>
</td></tr></table>
</center>

</body>