<html>
<head>  
<link rel="stylesheet" type="text/css" href="yc.css">
<link rel="shortcut icon" href="favicon.ico">
<title>On-Ramp: Mentors</title>
</head>

<body bgcolor=#ffffff>
<center>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>


<a href="/"><img src="on-ramp logo.jpg"
  border=0 width=500 height=100></a>
<table width=100% bgcolor=#ffaa33 cellpadding=0><td></td></table>

<br><br><br>
<center><b>Mentors: Y Combinator Alumni</b></center>
<br><br><br>
<b><font color=#444444>Jane Smith:</font></b> I'm the co-founder of X.
<p>
<br>
<br>
<br>
<b><font color=#444444>John Doe:</font></b> I'm the co-founder of Y.
<p>
<br>
<br>
<br>
<b><font color=#444444>Joanna Yee:</font></b> I'm the co-founder of Z.
<p>
<br><br><br>
<center><b> Management </b></center>
<br><br><br>
<b><font color=#444444>Matt Krisiloff:</font></b> I'm the founder of On-Ramp. I've learned about startups from co-founding a few failed companies -- Plain White Couch: a mental health directory, Scouter: a split-screen iOS app, and Entom Foods: <a href="http://www.newyorker.com/magazine/2011/08/15/grub">a startup that de-shelled insect meat.</a> I previously worked as an associate for Hyde Park Angels and Hyde Park Venture Partners (angel and venture funds in Chicago), and I studied at University of Chicago.

<br><br><br><br>

<table width=100% bgcolor=#3a5b76 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>
<a href="purpose">Purpose</a> | 
<a href="mentors">Mentors</a> | 
<a href="faq">FAQ</a> |
<a href="apply">Apply</a>
<br><br>
</span>
</td></tr></table>
</center>
</body>