<html>
<head>  
<link rel="stylesheet" type="text/css" href="yc.css">
<link rel="shortcut icon" href="favicon.ico">
<title>On-Ramp: Purpose</title>
</head>

<body bgcolor=#ffffff>
<center>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>


<a href="/"><img src="on-ramp logo.jpg"
  border=0 width=500 height=100></a>
<table width=100% bgcolor=#ffaa33 cellpadding=0><td></td></table>

<br>
<br>
<i>"Nearly all the most successful founders are revolutionaries. They want power, not money. That makes them hard to stop."
<br>
-Paul Graham</i>
<br>
<br>
<center><strong>Purpose</strong></center>
<br>
<p>
On-Ramp is an experiment to help more young founders start startups. It's based on a hypothesis that the best young founders will change the world in the most significant ways.
<p>
Ten years ago, Y Combinator started with a very simillar idea. YC realized kids (college aged, sometimes even younger) could start technology companies that would eventually upend entire industries. They helped many of these founders succeed.
<p>
Now, YC is globally recognized for helping founders start amazing companies. That's great -- it means more incredible teams than ever apply for funding, join YC, and go on to build impactful companies. With the quality of founders continuously improving, the success rate should only increase.
<p>
Unfortunately, there's a downside. It's more competitive than ever for founders to get funded. YC now receives so many strong applications that they have to turn down a lot of people with real potential. At least at this point, they just can't accept everyone.
<p>
As a result, YC now accepts more startups at more developed stages. Accordingly, the average batch age has increased to just over 30. And while they still take founders with just an idea, these tend to be teams tackling very hard problems that they're qualified to approach (nuclear fusion, or launching rockets into space!). The days have past from when a team like Reddit--unproven college kids, applying with a lame idea--could walk in, make a new idea on the spot with PG, and get funded. That's a shame -- if Reddit hadn't had that initial mentorship, it wouldn't exist.
<p>
So it's very important that young founders keep getting support. It's so hard to tell who will found the greatest startups at the beginning, and it's even harder to judge young founders without much to show. Yet young teams have started some of the most ambitious, well-executed companies, and that will happen again and again.
<p>
The purpose of On-Ramp is to make sure these teams are found, and give them the means to get started.
<p>
<br><br>
<center><strong>The Program</strong></center>
<br>
<p>
Like Y Combinator, On-Ramp will fund teams in three month batches. The first batch will start in mid-July, and it will include eight or nine teams. Simillar to YC's original Summer Founders Program, each team will receive a $12k investment. Unlike Y Combinator, teams will not be required to come to the Bay Area to participate, and teams can work and live from wherever they'd like.
<p>
If accepted, you'll be paired with a primary mentor; he or she will be a successful YC alumnus that will have a real stake in your success. You will be able to schedule office hours with your mentor by video chat, phone, or in-person as often as is helpful.
<p>
Once a week over Google Hangouts, you'll have group office hours with three or four other teams. These are meant to be a way for teams to discuss the problems they're currently facing and help one another. Matt, On-Ramp's manager, will host these, and they'll often include an On-Ramp mentor, guest founder, or YC partner. 
<p>
If you need help from a specific YC alumnus on a particular problem, Matt will help you get in touch. You will also be able to schedule office hours with Matt as often as you like.
<p>
Beyond that, it's still up to you to make it work. We think these resources will help overcome the mentorship and financial hurdles that you'll face when just starting out, but it will still be up to your team to do the hard slog. Cut out distractions, build product, and figure out what your users want. 
<p>
On-Ramp won't have a Demo Day, but the batch end is timed to coincide with YC's W16 application cycle. Just as Demo Day creates a forcing function for YC teams to do their best, YC's application deadline will serve the same purpose; all On-Ramp teams will be asked to apply to Y Combinator as their next step.
<p>
Good teams will get recommendations from their mentors, and the best teams will be fast-tracked for interviews. Doing On-Ramp by no means guarantees Y Combinator will fund you, but we'll help you make as much progress as possible so you can prove they should back you.
<p>
If you aren't accepted into YC, we'll still support you. Startups are hard, and it can take a long time to make an idea work. As long as you keep working, you can keep scheduling individual office hours, and we'll do whatever we can to help.
<p>
<br><br>
<center><strong>The Investment</strong><br><i>##Could this funding model help make overhead less burdensome? Tax issues?</i></center>
<br>
<p>
Honestly, we expect a higher failure rate than for YC's batches. Startups are so hard, and young founders in the earliest stages face taller odds than most. On top of that, it's a complete experiment to run a YC-like batch in a geographically distributed way. We expect that it will be harder to help founders when most meetings won't be face-to-face, but we're hopeful we can still make enough of an impact to make On-Ramp more than worth it.
<p>
To make sure that's the case, we're taking a very small equity portion--2%. And unless you're already incorporated, the money will actually be given to your team as a grant. We think that most teams will be at such an early stage that company formation and stock agreements will actually be more distracting than helpful. We'll just have a handshake deal in place that if/when you incorporate, we'll be entitled to our share of common stock. If you get to a point where it's helpful or necessary, we'll be happy to help you incorporate. If you never make it there, we understand--no harm done.
<p>
<br><br>
<center><strong>--------</strong></center>
<br>
<p>
Of course, we hope On-Ramp teams will succeed spectacularly. If Jobs, Gates, or Zuckerberg could start so young, then it's definitely possible. And If On-Ramp helps another Stripe, Reddit, or Airbnb get started, then it's so worth it. 
<p>
On-Ramp, to YC, to one day changing the world. That's the goal.
<br><br><br><br>

<table width=100% bgcolor=#3a5b76 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>
<a href="purpose">Purpose</a> | 
<a href="mentors">Mentors</a> | 
<a href="faq">FAQ</a> |
<a href="apply">Apply</a>
<br><br>
</span>
</td></tr></table>
</center>
</body>