<html>
<head>
<link rel="stylesheet" type="text/css" href="skeleton.css">
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="custom.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>on-ramp mentors</title>
</head>



<center>
<table width=500 cellpadding=0>
<a href="/"><img class="logo" src="on-ramp logo.jpg"></a>





<td class="top">
<table width=100% bgcolor=#ffaa33 cellpadding=0><td class="top"></td></table>
</table>
</center>

<div class="container">
  <section class="header">
    <h5 class="title">Y Combinator Alumni (2 or 3 founders)</h4>
  </section>
</div>

<br>

<div class="container">
  <div class="docs section" id="grid">
    <div class="row">
      <div class="four columns">
        <img class="profile" src="dummy-profile.jpg">
      </div>
      <div class="eight columns"><br>Jane Smith -- I'm the co-founder of X.</div>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="four columns">
        <img class="profile" src="dummy-profile.jpg">
      </div>
      <div class="eight columns"><br>John Doe -- I co-founded Y.</div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <section class="header">
    <h5 class="title">Manager</h4>
  </section>
    <div class="docs section" id="grid">
    <div class="row">
      <div class="four columns">
        <img class="profile" src="matt-profile.jpg">
      </div>
        <div class="eight columns"><br>
          Matt Krisiloff -- I'm founder of On-Ramp. I've learned about startups from co-founding a few companies that didn't work out -- Plain White Couch: a mental health directory, Scouter: a split-screen iOS app, and Entom Foods: <a href="http://www.newyorker.com/magazine/2011/08/15/grub">a startup to de-shell insect meat.</a> I previously worked as an associate for Hyde Park Angels and Hyde Park Venture Partners (angel and venture funds in Chicago), and I studied at University of Chicago.
        </div>
      </div>
    </div>
</div>
<br>
<br>


<!-- <div class="container">
  <div class="row">
    <div class="one-half column category">
      <img class="u-max-full-width" src="dummy-profile.jpg">
    </div>
    <div class="eight columns"> I'm A, founder of X. </div>
  </div>
  <br>
  <div class="row">
    <div class="one-half column category">
      <img class="u-max-full-width" src="dummy-profile.jpg">
    </div>
  </div>

  <div class="row">
    <div class="one-half column category">
      <img class="u-max-full-width" src="dummy-profile.jpg">
    </div>
  </div>
</div> -->